---
layout: archive
---

<style>
	.box {
		width: 100%;
		height: 100%;
		border-radius: 70%;
		overflow: hidden;
	}

	.profile {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.img-container {
		text-align: center;
	}

	.publication-cell {
		width: 100%;
		< !--disply: flex;
		-->
	}

	.publication-thumbnail-cell {
		width: 140px;
		height: 140px;
		border: 2px;
		border-style: solid;
		border-color: #CDCDCD;
		padding: 2px;
		border-radius: 5%;
	}

	.publication-description-cell {
		padding-bottom: 15px;
		vertical-align: top;
	}

	article[role="publication"] {
		< !--display: flex;
		-->
	}

	article[role="publication"] div[role="left"] {
		flex: 20;
		align-self: center;
	}

	article[role="publication"]>div[role="left"]>img {
		width: 100%;
		padding: 0 .5em;
	}

	article[role="publication"]>div[role="right"] {
		flex: 60;
		padding: 0 0 0 0px;
		align-self: center;
		margin-top: .5em;
		margin-bottom: .5em;
	}

	article[role="publication"] header {
		font-size: 18px;
		padding-bottom: 0;
	}

	p[role="links"] {
		padding-top: 0;
		margin-top: 5px;
		margin-bottom: 5px;
	}

	p[role="links"]>a {
		padding-right: 0.5em;
	}

	p[role="links"]>b {
		padding-right: 0.5em;
	}

	p[role="others"] {
		font-size: .8em;
		text-align: left;
	}

	@media only screen and (max-width: 700px) {
		article[role="publication"] {
			display: block;
		}

		article[role="publication"]>div[role="left"]>img {
			display: block;
			width: 100%;
			max-width: 300px;
			margin: 0 auto;
		}
	}

</style>


{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
